* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/*========== Common ==========*/
.main-content {
    width: 1170px;
    max-width: calc(100% - 270px);
    margin-left: auto;
    margin-right: auto;
}

.heading a {
    color: #0d1111;
    font-size: 42px;
    font-weight: 700;
    line-height: 56px;
    text-decoration: none;
}

p.desc {
    color: #767e7e;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
}

p.desc.lv2 {
    color: #9da6a5;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
}

.mini-title {
    color: #767e7e;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 6px;
}

.btn {
    display: inline-block;
    text-decoration: none;
    height: 68px;
    width: 186px;
    line-height: 68px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    border-radius: 14px;
    background: #1ebfc1;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
}

/*========== Header ==========*/
.header .body {
    margin-top: 52px;
}

.header .body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    display: flex;
    align-items: center;
    gap: 6px;
}

.header .nav ul {
    display: flex;
    gap: 39px;
}

.header a {
    color: #494949;
    text-align: center;
    font-weight: 400;
    text-decoration: none;
}

.header .nav a.active {
    color: #2f3a3b;
    font-weight: 600;
}

.header .action .header-btn {
    margin-left: 24px;
    width: 108px;
    height: 48px;
    border-radius: 6px;
    border: 1px solid #1ebfc1;
    background: #fff;
    color: #1ebfc1;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
}

/*========== Hero ==========*/
.hero {
    margin-top: 50px;
}

.hero .body {
    display: flex;
    justify-content: space-between;
}

.hero .info {
    width: 39.15%;
}

.hero .info .mini-title {
    letter-spacing: normal;
    font-weight: 400;
}

.hero .info .heading {
    margin-top: 18px;
}

.hero .info .heading a {
    text-decoration: none;
    font-size: 62px;
    font-weight: 700;
    line-height: 72px;
}

.hero .info .desc {
    margin-top: 46px;
    color: #9da6a5;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
}

.hero .info .btn-block {
    margin-top: 52px;
    display: flex;
    gap: 50px;
}

.hero .btn-block .icon {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero .images {
    position: relative;
    background: #e0f7f6;
    width: 49.2%;
}

.hero .images .pic {
    width: 100%;
}

.hero .block .title {
    color: #0d1111;
    font-size: 10px;
    font-weight: 500;
    line-height: normal;
}

.hero .hero-course {
    position: absolute;
    top: 149px;
    left: -40px;
    padding: 17px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 157px;
    height: 75px;
    border-radius: 18px;
    background: #fefefd;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero .hero-course .title {
    width: 55px;
}

.hero .hero-course .icon-book {
    position: relative;
    width: 36px;
    height: 40px;
}

.hero .hero-course .icon-book .square {
    width: 100%;
}

.hero .hero-course .icon-book .line {
    display: block;
    position: absolute;
    left: 4px;
    top: 28px;
}

.hero .hero-schedules {
    position: absolute;
    top: 453px;
    left: -65px;
    padding: 16px 0px 23px;
    width: 124px;
    height: 132px;
    border-radius: 24px;
    background: #fff;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero .hero-schedules .title,
.hero .hero-schedules img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hero .hero-schedules img:nth-of-type(1) {
    margin: 16px auto 12px;
}

.hero .hero-schedules img:nth-of-type(3) {
    margin: 10px auto 16px;
}

.hero .hero-students {
    position: absolute;
    bottom: 41px;
    right: 45px;
    width: 207px;
    height: 90px;
    padding: 17px 35px;
    border-radius: 24px;
    background: #fefefd;
    box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero .hero-students .avatar-list {
    margin-top: 8px;
    display: flex;
}

.hero .hero-students .avatar {
    width: 33px;
    height: 33px;
    margin-left: -6px;
    border-radius: 33px;
}

.hero .hero-students .avatar:nth-child(5) {
    color: #fff;
    text-align: center;
    font-size: 10px;
    font-weight: 500;
    line-height: 33px;
    background: #1ebfc1;
}

/*========== Features ==========*/
.features {
    margin-top: 130px;
}

.features .heading {
    width: 49.3%;
    margin: 18px 0px;
}

.features .top .desc {
    width: 50.4%;
}

.feature-list {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.feature-list .item:nth-child(1) {
    width: 14.35%;
}

.feature-list .item:nth-child(2) {
    width: 19.1%;
}

.feature-list .item:nth-child(3) {
    width: 19.1%;
}

.feature-list .function {
    margin: 26px 0 16px;
    color: #0d1111;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
}

/*========== Courses ==========*/
.courses {
    margin-top: 130px;
}

.courses .heading {
    margin: 18px 0px 19px;
}

.courses .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.courses .row .desc {
    width: 44.9%;
}

.courses .row a {
    color: #1ebfc1;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
}

.courses .course-list {
    margin: 79px 0 124px;
    display: flex;
    gap: 47px;
}

.course-list .item {
    width: 30.65%;
    position: relative;
}

.course-list .item .image {
    position: relative;
}

.course-list .item .image img {
    width: 100%;
    height: 100%;
}

.course-list .item .shape {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    border-radius: 8px;
    opacity: 0.35;
    background: #d0efed;
}

.course-list .fee span,
.course-list .item .title {
    text-decoration: none;
    color: #0d1111;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
}

.course-list .info {
    position: absolute;
    top: 322px;
    left: 17px;
    width: 90.5%;
    padding: 18px 25px 29px;
    color: #9da6a5;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
}

.course-list .info .fee {
    margin-top: 6px;
    color: #767e7e;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.course-list .fee span {
    margin-left: 6px;
}

.course-list .desc {
    font-size: 14px;
    margin: 6px 0px 18px;
}

.course-list .info .option {
    display: flex;
}

.course-list .option .month,
.course-list .option .class {
    position: relative;
    margin: 0px 16px;
}

.course-list .option .month::before,
.course-list .option .class::before {
    position: absolute;
    top: 8px;
    left: -16px;
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    background: #1ebfc1;
    border-radius: 50%;
}

/*========== Static ==========*/
.static {
    padding-top: 265px;
}

.static .body {
    display: flex;
    justify-content: center;
    gap: 215px;
}

.static .number {
    color: #0d1111;
    text-align: center;
    font-size: 62px;
    font-weight: 700;
    line-height: normal;
}

.static .desc {
    margin-top: 11px;
    text-align: center;
}


/*========== Feedback ==========*/
/*========== Action ==========*/
/*========== Footer ==========*/
